*{ margin: 0; padding: 0; box-sizing: border-box; }

.ttr{
  transform: translate(-50%, -50%);
}
.body{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%; /* Adjust the width as needed */
  max-width: 400px; /* Maximum width for larger screens */
}

.mrr{
  margin-left: 122px;
  margin-bottom: 25px;
  height:80px
}
.mrl{
  margin-left: 130px;
  margin-bottom: 28px;
  
}
.mrf{
  margin-left:px;
  margin-bottom: px;
  

}
.element {
  color: #808080; /* Hex code for a medium gray color */
}
.btn-color{
  color: white;
  background: linear-gradient(94deg, rgba(251,208,74,1) 0%, rgba(246,106,118,0.9864320728291317) 71%);
  cursor: pointer;
}
.logo-mt{
  display: flex;
  justify-content: center;
}
.logo-mt{
  width: 80px;
  height: 80px;
}
.tt{
  text-decoration: underline
}
.password-toogle-icon{
  position: absolute;
  margin-top: 8px;
  margin-left: 232px;
  
  cursor: pointer;
}
.conta{
  
  display: flex;
  justify-content: space-between;
}